.footer{
    
min-height: 35vh;
position: relative;
background-color:whitesmoke;
}.footer_container{
    position: relative;
    left: 25%;
    padding-top: 20px;
    font-family: Montserrat,sans-serif;
}.icons_three{
    display: flex;
        letter-spacing: 12px;
        font-size: 30px;
        
}.pa{
    font-weight:bold ;
}