.main{
    min-height: 80vh;
    max-width: 100%;
    background-color: whitesmoke;
    position: relative;
    


}.p{
    font-weight: bold;
    text-transform: uppercase;
}

    .main__img{
       position: relative;
          left: 20px;
          right: 70px;
         top: 160px;
        
    }
    .main_container{
        height: 90vh;
        position: relative;
        //  left: 100px;
        //  right: 50px;
    padding-top: 2em;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .main_content{
        margin-left:3.400rem ;
    }.img_text{
        display: flex;


    }
    .text{
        line-height: 35px;
        h1{
            color: rgb(204, 27, 204);
            font-size: 30px;
            text-transform: uppercase;
        }
        b{
            font-size: 15px;
            text-transform: uppercase;
        }
    }.icons{
        display: flex;
        letter-spacing: 12px;
        font-size: 30px;
        cursor: pointer;
        color: red;
    }
    button{
        margin-top: 1rem;
        margin-right: 1rem;
        padding: 10px 30px;
        background: linear-gradient(25deg);
       color: rgb(204, 27, 204);
       border: 1px solid red;
       cursor: pointer;
       font-weight: bolder;
    }
    @media (max-width:1200px) {
.text{
    line-height: 25px;
    white-space: nowrap;
}
b{
    font-size: 14px;
}h1{
    font-size: 30px;
}button{
    padding: 8px 20px;
}.icons{
    font-size: 25px;
}
    }

    @media(max-width:600px){
        .main_content{
            margin-left: 0;
        }
        .main_container{
            // text-align: center;
            flex-direction: row-reverse;
        }.text{
            h1{
                font-size: 20px;
            }
            b{
                font-size: 13px;
            }
        }
        
        
    }