.section{
min-height: 35vh;
position: relative;
// left: 25%;
// right: 20;
// max-width: 160%;
background-color:  rgb(248, 191, 248);
// bottom: 40;
// transform: translate(-50%, -50%);
}.section_container{
    position: relative;
    left: 25%;
    padding-top: 20px;
    font-family: Montserrat,sans-serif;
}