.skills{
    min-height: 30vh;
    position: relative;
    padding-top: 20px;
    font-family: Montserrat,sans-serif;
    background-color: whitesmoke
}.icon{
    display: flex;
    letter-spacing: 12px;
    font-size: 30px;
    padding-top: 10px;
}p{
    padding-top: 10px;
}.skills_container{
    position: relative;
    left: 25%;
}